<html>
    <head>
      <style>
        * {
          background-color: #171717;
          color: #444444;
        }

        a {
          color: #00A8CC;
        }
      </style>
    </head>
    <body>
      <h1 style="color: #EDEDED;">Hi #USERNAME#</h1>
      <p>Your #GAMENAME# account has been created, to sign in please verify your email.</p>
      <p>Click on this link or paste it into your browser to activate your account: <a href="#BASEURL#Activation.php?code=#HASH#" target="_blank">#BASEURL#Activation.php?code=#HASH#</a>
      </p>
    </body>
  </html>