<html>
  <head>
    <style>
      * {
        background-color: #171717;
        color: #8f8e8e;
      }
      a {
        color: #00A8CC;
      }
      .code-number {
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        background-color: rgb(255, 251, 0);
        letter-spacing: 2px;
        color: #171717;
      }
      .verify-title {
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <h1 style="color: #EDEDED;">Hi #USERNAME#</h1>
    <p>You receive this email because you or someone pretending to be you requested to change the password, <br>if that was not you, do not worry, without the code below your password can not be changed, <br> but if you receive this message multiple times please contact the administrator of the game. </p>
    <p>
      <i>If it has been you simply copy the code below and enter it in the game to make the password change.</i>
    </p>
    <br />
    <br />
    <p class="verify-title">
      <b>Verification Code</b>
    </p>
    <p class="code-number">#CODE#</p>
    <p>This key will only be valid during this session of the game.</p>
  </body>
</html>